#stoneGame
{
	padding: 20px;
    text-align: center;
	
	align-items: center;
    justify-content: center;
}

.user-first-rock-choice
{ 
	color: rgb(195, 58, 170) !important;
}

.user-second-rock-choice
{
	color: rgb(50, 202, 172) !important;
}